body {
    text-align: center;


}
.cub{
    border-radius: 20px;
    padding-top: 20px;
    width: 200px;
    background-color: #ee204d31;
    height: 230px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;

}
.firstNum{
    margin-bottom: 10px;
    text-align: center;
}
.Sumv{
    margin-bottom: 10px;
    text-align: center;
}
.secNum{
    margin-bottom: 10px;
    text-align: center;

}
.info{
    border-radius: 5px;
    background-color: rgb(44, 0, 24);
    border:0.5px solid rgb(49, 0, 29) ;
    color: aliceblue;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}